/.gradle
/.settings
/bin
/build
/catalog
/log
/package
/poi
/pointcloud
/pointdb
/postgis
/proxy
/rasterdb
/roi
/RSDB.Rcheck
/src_testing
/storage
/temp
/vectordb
/voxeldb
/webfiles

/.classpath
/.project
/.Rproj.user
/accounts.yaml
/config.yaml
/keystore
/public_access.yaml
/realm.properties
/realm_ip.csv
/data.png
.Rproj.user
.RDataTmp
gdal.txt
/hs_err_*.log

