/.gradle
/.settings
/bin
/build
/catalog
/log
/package
/poi
/pointcloud
/pointdb
/proxy
/rasterdb
/roi
/RSDB.Rcheck
/src_testing
/storage
/temp
/vectordb
/webfiles

/.classpath
/.project
/.Rproj.user
/config.yaml
/keystore
/realm.properties
/realm_ip.csv
/data.png
.Rproj.user
gdal.txt
