<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.jknack.Antlr4.tool">
<stringAttribute key="antlr4.arguments" value="-no-listener -visitor -encoding UTF-8 -package rasterdb.dsl -o dsl/generated-sources/rasterdb/dsl"/>
<stringAttribute key="antlr4.grammar" value="\rsdb\dsl\DSL.g4"/>
<stringAttribute key="antlr4.vmArguments" value=""/>
</launchConfiguration>
