<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/rsdb/src/run/Terminal.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-11.0.11.9-hotspot/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="run.Terminal"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="rsdb"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="server"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="rsdb"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G&#13;&#10;-XX:+UseSerialGC&#13;&#10;-XX:ActiveProcessorCount=2&#13;&#10;-XX:ParallelGCThreads=2&#13;&#10;-XX:ConcGCThreads=2&#13;&#10;-Djava.util.concurrent.ForkJoinPool.common.parallelism=2"/>
</launchConfiguration>
