<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="referrer" content="same-origin" />
<title>Local Login Failed</title>
</head>

<body style="text-align: center;">

<h1>Local Login Failed</h1>
<hr>
<br>
{{! <button onclick="window.history.back();">try again</button> }}
<a href="{{ref}}">try again</a>
<br><br><br><hr>

<i>Reason:</i>
<br><i>{{error}}</i>
		
</body>
</html>