RasterDB: {{rasterdb}}
Coordinates: {{coordinates.x}}, {{coordinates.y}}
Time slice: {{time_slice.name}}
Processing: {{processing}}

Values:
{{#values}}
Band {{band.index}} '{{band.title}}': {{value}}
{{/values}}